
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Details
                <small>A detail page</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="./index.html">Home</a>
                </li>
                <li class="active">a detail page</li>
            </ol>
        </div>

    </div>
	
	<div class="container">
    <div class="row well">
        <div class="col-lg-8 col-md-8">
          <a href="#/Support"> Support </a>
        </div>
    </div>
  </div>
  
	<div class="container">
    <div class="row well">
        <div class="col-lg-8 col-md-8">
          decodedToken:
        </div>
        <div class="col-lg-8 col-md-8">
          <textarea id="decodedToken" cols=120 rows=40></textarea>
        </div>
    </div>
  </div>  

</div>

<script>
  
  //build a different options object, thsi one will include the registered clientId and redirectUri associated with our OIDC app
  var options = {url: myOktaOrg, clientId: myClientId, redirectUri: myRedirectURL };
  var authClient = new OktaAuth(options);
  
  // options for the getWithoutPrompt method, this will ask for an id_token only, the testSessionToken is used as we've already established an okta session (implicit)
  var options = {responseType: ['id_token','token'],scopes: ['openid', 'profile', 'email', 'address', 'phone'], sessionToken: 'testSessionToken'};  
  
  //fetch the idToken
  authClient.token.getWithoutPrompt(options)
          .then
          (
            function(tokenOrTokens)
            {
              // Grab the token, and specifically the idToken String
              var idToken = tokenOrTokens[0];
			  var token = tokenOrTokens[1];
			  console.log(token)
              var strIdtoken = idToken.idToken;
			  //console.log(strIdtoken)
			  //Decode the idToken using the token.decode method
              var decodedToken = authClient.token.decode(strIdtoken);
			  // for display purposes stringify it
              var strDecoded = JSON.stringify(decodedToken,undefined,4)
			  //print the stringified decoded token into the textArea
              document.getElementById('decodedToken').innerHTML = strDecoded;
            }
          )
          .catch
          (
            function(err)
            {
              // Handle OAuthError
              console.log(err.message);
              window.alert(err.message);
			  //we are here bcause someone isn't authenticated or isn't assigned to the OIDC app
              window.location.replace("#/Login");
            }
          ); 
</script>  