
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Details
                <small>A detail page</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="./index.html">Home</a>
                </li>
                <li class="active">a detail page</li>
            </ol>
        </div>

    </div>
	
	<div class="container">
    <div class="row well">
        <div class="col-lg-8 col-md-8">
          <a href="#/Support"> Support </a>
        </div>
    </div>
  </div>
  
	<div class="container">
    <div class="row well">
        <div class="col-lg-8 col-md-8">
          decodedToken:
        </div>
        <div class="col-lg-8 col-md-8">
          <textarea id="decodedToken" cols=120 rows=40></textarea>
        </div>
    </div>
  </div>  

</div>

<script>
  var goto = window.location.protocol + "//" + window.location.hostname + window.location.pathname + "#/Support"
  //window.alert(goto)
  //window.location.replace(goto);
  //placetogo = document.getElementById('placetogo')
  //placetogo.innerHTML = goto
  
  var options = {url: myOktaOrg, clientId: myClientId, redirectUri: myRedirectURL };
  
  var authClient = new OktaAuth(options);
  
  var options = {responseType: ['id_token'], sessionToken: 'testSessionToken'};  
  
  authClient.token.getWithoutPrompt(options)
          .then
          (
            function(tokenOrTokens)
            {
              // Manage token or tokens
              var idToken = tokenOrTokens[0];
              var strIdtoken = idToken.idToken;
              var decodedToken = authClient.token.decode(strIdtoken);
              var strDecoded = JSON.stringify(decodedToken,undefined,4)
              document.getElementById('decodedToken').innerHTML = strDecoded;
            }
          )
          .catch
          (
            function(err)
            {
              // Handle OAuthError
              console.log(err.message);
              window.alert(err.message);
              window.location.replace("#/Login");
            }
          ); 
</script>  