
<script>

function myLogin()
{
  //Collect the username and Password from the login form submision	
  var userName = document.getElementById("username").value;
  var passWord = document.getElementById("password").value;
  var form = document.getElementById("loginForm");
  form.reset();
  
  // Define the options, myOktaOrg is configured in the main.js file and build and OktaAuth client
  var options = {url: myOktaOrg};
  var authClient = new OktaAuth(options);
  
  //Invoke the sign on process using the username and password collected from the HTML form
  authClient.signIn( {username: userName, password: passWord} )
  .then
  (
    function(transaction)
    {
	   // Some level of success has occured, flip through the various states to figure out what to do
      switch(transaction.status)
      {
		case 'LOCKED_OUT':
		  window.alert("You are locked out")
		  break;
		case 'PASSWORD_EXPIRED':
		  window.alert("Your password expired, if I was nice i'd offer a way to resolve this issue")
		  break;
		case 'MFA_REQUIRED':
		  window.alert("Oh Snap, your admin wants you to use MFA and i'm too lazy to support it")
		  break;
		case 'MFA_ENROLL':
		  window.alert("Oh Snap, your admin wants you to use MFA but you haven't enrolled yet. Sorry I am too lazy to support it")
		  break;		  
        case 'SUCCESS':			
		  //We've encounted a successful authentication, this means we have a sessionToke and we can redirect to okta to establish a security session with them
		  //We also want to return to our support landing page, build that URL to include with the request
          var goto = window.location.protocol + "//" + window.location.hostname + window.location.pathname + "#/Support"
          authClient.session.setCookieAndRedirect(transaction.sessionToken, goto); // Sets a cookie
          break;
        default:
		  //There are a number of more complicated authentication scenarios that aren't handled here, let us know what the state is and do nothing
          console.log(transaction.status)
		  window.alert("I don't know what to do with " + transaction.status)
          //throw 'We cannot handle the ' + transaction.status + ' status';
      }
    }
  )
  .fail // The password wasn't good or something else went poorly
  (
    function(err)
    {
		  console.log(err.message)
		  console.log(err.errorCode)
		  window.alert(err.message);
		  //console.error(err);
    }
  );
}
</script>

<div>
<br/>
</div>
<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h3>Let's Login!</h3>

            <form role="form" onsubmit="myLogin()" id="loginForm">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" id="username">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <input type="submit" name="login" value="login">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->