
<div>
<br/>
</div>
<script>
var zenUrl = "https://mattegantest.oktapreview.com/home/zendesk/0oa8tvgiuh93NlQ0W0h7/120"
var myClientId = "asdf"

function myLogin()
{
  var userName = document.getElementById("username").value;
  var passWord = document.getElementById("password").value;
  var form = document.getElementById("loginForm");
  form.reset();
  var options = {url: 'https://mattegantest.oktapreview.com', clientId: myClientId};
  var authClient = new OktaAuth(options);
  
  //console.log("Username: " + userName)
  //console.log("Password: " + passWord)
  
  authClient.signIn( {username: userName, password: passWord} )
  .then
  (
    function(transaction)
    {
      switch(transaction.status)
      {
        case 'SUCCESS':
          console.log(transaction.status)
          console.log(transaction.sessionToken)
          //authClient.session.setCookieAndRedirect(transaction.sessionToken, zenUrl); // Sets a cookie on redirect
          authClient.session.setCookieAndRedirect(transaction.sessionToken); // Sets a cookie on redirect
          //window.location.replace("#/Support");
		  
		      //var options = {responseType: 'id_token', sessionToken: transaction.sessionToken};
		      var options = {responseType: 'id_token', sessionToken: 'testSessionToken'};
		      
          authClient.token.getWithoutPrompt(options)
          .then
          (
            function(tokenOrTokens)
            {
              // Manage token or tokens
              console.log(tokenOrTokens.id_token)
              window.alert(tokenOrTokens.id_token)
            }
          )
          .catch
          (
            function(err)
            {
              // Handle OAuthError
              console.log(err.message)
              window.alert(err.message)
            }
          );          
          //send the user to the Support page
          window.location.replace("#/Support");
          break;
        default:
          console.log(transaction.status)
          //throw 'We cannot handle the ' + transaction.status + ' status';
      }
    }
  )
  .fail // The password wasn't good or something else went poorly
  (
    function(err)
    {
		  console.log(err.message)
		  console.log(err.errorCode)
		  //window.alert(err.message);
		  //console.error(err);
    }
  );
}
</script>

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h3>Let's Login!</h3>

            <form role="form" onsubmit="myLogin()" id="loginForm">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="username">username</label>
                        <input type="text" name="username" class="form-control" id="username">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <input type="submit" name="login" value="login">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->