
<div>
<br/>
</div>
<script>

function myLogin()
{
  var userName = document.getElementById("username").value;
  var passWord = document.getElementById("password").value;
  var authClient = new OktaAuth({url: 'https://mattegantest.oktapreview.com'});
  console.log("Username: " + userName)
  console.log("Password: " + passWord)
  authClient.signIn
  (
    {
      username: userName,
      password: passWord
    }
  )
  
  .then
  (
    function(transaction)
    {
    
      switch(transaction.status)
      {
        case 'SUCCESS':
          //authClient.session.setCookieAndRedirect(transaction.sessionToken); // Sets a cookie on redirect
          console.log(transaction.status)
          console.log(transaction.sessionToken)
          //throw 'We Encountered A ' + transaction.status + ' status';
          break;
        default:
          console.log(transaction.status)
          //throw 'We cannot handle the ' + transaction.status + ' status';
      }
    }
  )
  
  .fail // The password wasn't good or something else went poorly
  (
    function(err)
    {
		console.log(err.message)
		console.log(err.errorCode)
		//console.error(err);
    }
  );
}
</script>

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h3>Let's Login!</h3>

            <form role="form" onsubmit="myLogin()">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="username">username</label>
                        <input type="text" name="username" class="form-control" id="username">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <input type="submit" name="login" value="login">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->