
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">ZenDesk
                <small>ZenDesk page</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="./index.html">Home</a>
                </li>
                <li class="active">ZenDesk page</li>
            </ol>
        </div>

    </div>

	<div class="container">
    <div class="row well">
        <div class="col-lg-8 col-md-8">
			    As long as you have successfully <a href="#/Login"> logged </a> in using this link will take you right into ZenDesk
        </div>
    </div>
  </div>
	
	<div class="container">
    <div class="row well">
        <div class="col-lg-8 col-md-8">
				<!-- Simple enough, we are sending the user to the application embedlink which will initiate and IdP initiatled SAML flow to the application (ZenDesk) -->
			    <a href = "https://mattegantest.oktapreview.com/home/zendesk/0oa8tvgiuh93NlQ0W0h7/120" > ZenDesk URL </a>
        </div>
    </div>
  </div>
  
	<div class="container">
    <div class="row well">
        <div class="col-lg-8 col-md-8">
			    <a href = "#/Details" > More Details </a>
        </div>
    </div>
  </div>  
</div>
<!-- /.container -->
